
/* style.css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    background-image: url("image/polkisma-loginpage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-container {
    background: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    width: 300px;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #555;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.remember-me {
    display: flex;
    align-items: center;
}

.remember-me input {
    margin-right: 5px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #f2229d;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #c9184a;
}

.login-container p {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

.login-container a {
    color: #ff4d6d;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}

  /* Respponsive Design */
  